<link rel="import" href="../polymer/polymer-element.html" />

<dom-module id="login-tony">
  <template>
    <style>
      :host {
        display: inline-block;
        width: 70%;
        text-align: center;
      }

      :host .card {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      }

      :host .form-container {
        display: flex;
        flex-direction: column;
        padding: 50px;
      }

      :host .form-container > input {
        margin: 20px 0;
        padding: 8px;
        font-size: 1.3em;
        color: #112f91;
      }

      :host button {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        color: #00334e;
        background-color: #f6ef98;
        font-size: 1.5em;
        font-weight: 800;
        border-radius: 8px;
      }

      :host .title {
        font-size: 3em;
        color: #00334e;
        padding: 40px 0 0 0;
        text-align: center;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      }
    </style>

    <div class="card">
      <h1 class="title">Login</h1>
      <!-- <form
        action=""
        method=""
        class="form-container"
        on-submit="(handleLogin)"
        id="login"
      > -->
      <div class="form-container">
        <label for="mail-input">E-mail</label>
        <input
          type="email"
          name="E-mail"
          id="mail-input"
          value="{{mail::input}}"
        />
        <label for="password-input">Password</label>
        <input
          type="password"
          name="Password"
          id="password-input"
          required
          minlength="8"
          maxlength="16"
          value="{{password::input}}"
        />
        <button on-click="handleLogin">Login</button>
        <!-- <input type="submit" value="Login" /> -->
      </div>
      <!-- </form> -->
    </div>
  </template>

  <script>
    /**
     * `login-tony`
     * Simple Login
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class LoginTony extends Polymer.Element {
      static get is() {
        return "login-tony";
      }

      static get properties() {
        return {
          user: {
            type: Object,
            value: {
              isLogged: false
            },
            notify: true
          },
          mail: {
            type: String
          },
          password: {
            type: String
          }
        };
      }

      ready() {
        super.ready();
        console.log(this.mail);
        console.log(this.password);
      }
      constructor() {
        super();
      }

      handleLogin(e) {
        e.preventDefault();
        var mail = this.mail;
        var password = this.password;
        console.log("Mail: " + mail);
        console.log("Password: " + password);
        if (mail == "tony@me.com" && password == "1234567890") {
          confirm("Hola Tony!");
          this.set("user.isLogged", true);
          this.dispatchEvent(
            new CustomEvent("login", {
              bubbles: true,
              composed: true,
              detail: { logged: true }
            })
          );
          // this.user.isLogged = true;
        } else {
          confirm("No te conozco");
          // this.user.isLogged = false;
          this.set("user.isLogged", false);
          this.dispatchEvent(
            new CustomEvent("login", {
              bubbles: true,
              composed: true,
              detail: { logged: false }
            })
          );
        }
        console.log(this.user.isLogged);
      }
    }

    window.customElements.define(LoginTony.is, LoginTony);
  </script>
</dom-module>
